@media screen and (max-width:1300px){
  .language{
     padding-right: 0px;
     }
}

@media screen and (max-width:1240px){
 .topics-list{
  width: 90%;
  height: 0px;
  gap: 0px 0px;
  margin-left: 45px;
 }
 .footer-container{
  width: 100%;
  height: 120px;
  margin: 20px auto;
  gap: 20px 20px;
}
.banner img{
  margin-top: 20px;
}
.middle-line-geo{
  margin-left: 870px;
}
}

@media screen and (max-width:1170px){
    .geography{
     margin-top: 60px;
    }
    .topics-list{
      width: 60%;
      gap: 35px 35px;
      margin-left: 200px;
    }
    .container{
      height: 1000px;
    }
 }

 @media screen and (max-width:1140px){
  .middle-line-geo{
    margin-left: 780px;
  }
}

@media screen and (max-width:1115px){
.footer-container{
  display: flex;
  gap: 10px 10px;
}
.footer-logo{
  width: 190px;
}
.phone , .clock , .poisk{
  margin-right: 10px;
}
.poisk img , .clock img ,.phone img {
  margin-right: 5px;
 }
}

@media screen and (max-width:1080px){
  .navigation ul li a{
    font-size: 18px;
  }
  .banner{
    padding-bottom: 50px;
  }
  .country{
  width: 90%;
  height: 200px;
  gap: 8px 8px;
  margin-left: 45px;
 }
 .item{
  width: 245px;
  height: 240px;
 }
.item-description p{
  font-size: 14px;
}
.list-item img{
  width: 50px;
  height: 50px;
  margin: 10px 0px 10px 70px;
}
.middle-line-geo{
  margin-left: 720px;
}
}

@media screen and (max-width:1025px){
  .banner img{
    margin-top: 30px;
  }
}

@media screen and (max-width:1000px){
.topics-list{
    margin-left: 130px;
  }
.container h2{
    margin-right: 180px;
}
.middle-line-two{
  margin-left: 470px;
}
.middle-line-geo{
  margin-left: 600px;
}
.banner{
  padding-bottom: 90px;
}
.navigation ul li a{
  padding: 0px 80px 0px 0px;
}
.footer-social ul li a{
  padding: 24px;
}
.footer-social {
  margin-left: 15px;
}
.footer-container{
  height: 150px;
  margin: 15px auto;
}
.footer-logo img{
  margin-left: 10px;
}
.poisk img , .clock img ,.phone img {
  margin-right: 10px;
  margin-left: 10px;
 }
 footer{
  font-size: 15px;
}
.time{
 width: 90px; 
}
}

@media screen and (max-width:940px){
  .list{
    gap: 0px 0px;
    margin-top: 5px;
  }
  .container_two{
    height: 390px;
  }
  .topics-list{
    margin-left: 100px;
  }
  .geography {
    margin-top: 95px;
  }

}

@media screen and (max-width:918px){
  .navigation ul li a{
      font-size: 16px;
    }
  .banner_info h1{
    font-size: 30px;
  }
  .banner_info_defenition {
    font-size: 16px;
  }
  .middle-line{
    width: 60px;
  }
  .geography h2 , .container h2 , .container_two h2{
    font-size: 20px;
  }
}

@media screen and (max-width:905px){
  .footer-social ul li a{
    padding: 10px;
  }
  .phone , .clock , .poisk{
    font-size: 12px;
}
}

@media screen and (max-width:900px){
  .country{
    flex-wrap: wrap;
    gap: 95px 200px;
    height: 600px;
  }
}

@media screen and (max-width:870px){
  .navigation ul li a{
    padding: 0px 60px 0px 0px;
  }
  .middle-line-geo{
    margin-left: 550px;
  }
  .banner img{
    margin-top: 40px;
  }
  .banner_info h1{
    margin-top:10px ;
  }
  .middle-line{
    width: 50px;
  }
  .topics-list{
    flex-wrap: wrap;
    width: 55%;
    gap: 10px 10px;
  }
  .container{
    margin-top: 35px;
    height: 890px;
  }
}

@media screen and (max-width:815px){
  .topics-list{
    margin-left: 55px;
  }
  .middle-line-geo{
    margin-left: 470px;
  }
  .geography{
    padding-top: 100px;
  }
  .footer-social ul li a{
    padding: 5px;
  }
  
}

@media screen and (max-width:790px){
  .navigation ul li a{
    padding: 0px 30px 0px 0px;
    }
  .item{
    padding: 20px;
    margin: 20px 5px 0px;
    margin-left: 30px;
    width: 200px;
    height: 220px;
  }
  .list-item img{
    width: 35px;
    height: 35px;
    margin: 5px 0px 5px 60px;
  }
  .footer-social ul li a{
    padding: 0px;
  }
  }

  @media screen and (max-width:765px){
    .middle-line-geo{
      margin-left: 400px;
    }
    footer{
      height: 440px;
    }
    .footer-container{
      flex-wrap: wrap;
      width: 50%;
    }
    .footer-line{
      margin-top: 255px;
    }
    .poisk{
      margin: 5px;
    }
    .topics-list{
      width: 48%;
    }
  }

  @media screen and (max-width:720px){
    .country{
      flex-wrap: wrap;
      gap: 50px 100px;
      height: 600px;
    }
    .list , .list-item{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .container_two{
      height: 620px;
    }
    .middle-line-geo{
      margin-left: 360px;
    }
    .banner_info h1{
      font-size: 18;
      line-height: 30px;
      margin-top: 5px;
    }
    .banner_info_defenition{
      font-size: 13px;
      line-height: 18px;
      font-weight: 500;
      padding-bottom: 50px;
    }
    .banner_info{
      width: 350px;
    }
    .middle-line{
      min-width: 310px;
    }
    .geography{
      padding-top: 20px;
    }
    .banner img{
      margin-top: 50px;
    }
  }

  @media screen and (max-width:670px){
    .navigation ul li a{
      padding: 0px 15px 0px 0px;
      }
    .topics-list{
      margin-left: 20px;
      }
    .container h2{
      margin-right: 300px;
    }
    .middle-line-geo{
      margin-left: 280px;
    }
    .poisk , .clock , .phone , .footer-social{
      margin-top: 10px;
    }
  }

  @media screen and (max-width:630px){
    .topics-list{
      width: 20%;
      margin-left: 210px;
    }
    .container{
      height: 1850px;
    }
    
  }

  @media screen and (max-width:610px){
    .navigation ul li a{
      padding: 0px 15px 0px 0px;
      font-size: 14px;
      } 
    .geography{
      width: 90%;
      height:1250px;
    }
    .middle-line-geo{
      margin-left: 200px;
    }
    .title{
    padding-left: 25px;
    }
    .container h2{
      text-align: left;
    }
    .middle-line-two{
      margin-left: 80px;
    }
    .banner_info{
      top: 295px;
    }
    .banner{
      padding-bottom: 30px;
    }
    .banner img{
      margin-top: 60px;
    }
    }

  @media screen and (max-width:560px){
    .navigation ul li a{
      padding: 0px 10px 0px 0px;
      font-size: 12px;
      }
    .banner_info{
      top: 245px;
    }
    .topics-list{
      width: 20%;
      margin-left: 170px;
    }
  }

  @media screen and (max-width:519px){
    .container_two{
      height: 900px;
    }
    .middle-line-geo{
      margin-left: 120px;
    }
  }

  @media screen and (max-width:494px){
    .footer-container{
      display: block;
      font-size: 15px;
    }
    .topics-list{
      margin-left: 125px;
    }
  }

  @media screen and (max-width:450px){
    .topics-list{
       margin-left: 100px;
      }
      .middle-line-geo{
        margin-left: 90px;
      }
      .banner_info h1{
        font-size: 15px;
      }
      .banner_info{
        margin-left: 0px;
      }
      .geography h2 , .country p{
        font-size: 16px;
      }
      .list-item{
        height: 230px;
      }
      .container_two{
        height: 790px;
      }
      .banner img{
        top: 80px;
      }
  }

  @media screen and (max-width:435px){
      .header_second{
       height: 50px;
      }
      .banner_info{
        width: 320px;
      }
      .middle-line{
        max-width: 100px;
      }
      .topics-list{
        margin-left: 80px;
       }
  }

  @media screen and (max-width:435px){
    .banner_info {
     margin-bottom: 325px;
    }
    .banner_info h1 {
      line-height: 10px;
     }
     .middle-line{
       min-width: 100px;
     }
  }

  @media screen and (max-width:400px){
    .banner_info_defenition , .banner_info{
      width: 310px;
    }
    .banner_info h1{
      line-height: 19px;
    }
    .banner_info_defenition {
      line-height: 15px;
      font-size: 12px;
    }
    .middle-line-geo{
      margin-left: 50px;
    }
    .language ul , .mail{
      font-size: 14px;
    }
    .banner{
      margin-bottom: 120px;
    }
    
  }

@media screen and (max-width:360px){
    .navigation{
      display: none;     
       }
    .language , .mail{
      font-size: 14px;
    }
    .header_second{
    height: 50px;
    }
    .header_second img{
      margin-left: 15px;
    }
    .banner img {
      margin-top: 45px;
    }
    .banner_info{
      position: absolute;
      width: 300px;
      left: 30px;
      top: 80px;
    }
  .banner_info h1{
      margin-top: 105px;
      margin-bottom: 5px;
      font-weight: 700;
      font-size: 18px;
      line-height: 15px;
    }
  .middle-line{
    height: 1px;
    min-width: 30px;
    margin: 0px 1px;
    background: #327dff;
  }
  .banner_info_defenition ul li{ 
    font-size: 12px;
    line-height: 20px;
  }
  .geography h2{
    font-size: 18px;
    margin: 3px;
    margin-top: 8px;
    text-align: start;
    margin-left: 30px;
   
  }
  .middle-line-geo{
      height: 1px;
      min-width: 100px;
      background: #327dff;
      margin-left: 30px;
    }
  .country{
    flex-wrap: wrap;
  }
  .container h2{
    font-size: 18px;
    text-align: start;
    margin-left: 30px;
  }
  .middle-line-two{
    display: block;
    height: 1px;
    min-width: 100px;
    background: #327dff;
    margin-left: 70px;
    margin-bottom: 10px;
  }
  .topics-list{
    flex-wrap: wrap;
    margin-left: 40px;
    width: 300px;
  }
  .middle-line-topic{
    display: none;
  }
  .topic_description p{
    font-size: 15px;
    padding: 10px;
  }
  
  .container_two{
    width: 100%;
    height: 790px;
    margin-top: 40px;
    background: #5bb5f1;
  }
  .container_two h2{
    font-size: 18px;
    text-align: center;
  }
  .list{
    flex-wrap: wrap;
  }
  .item{
    margin-left: 40px;
  }
  .footer-container{
  width: 75%;
  flex-wrap: wrap;
  }
  .footer-logo{
    margin-left: 40px;
  }
  .phone , .clock , .poisk{
    margin: 15px;
  }
  .footer-social ul li a{
    margin-left: 20px;
  }
  }