@media screen and (max-width:1300px){
  .language{
     padding-right: 0px;
     }
}

@media screen and (max-width:1240px){
 .topics-list{
  width: 90%;
  height: 0px;
  gap: 0px 0px;
  margin-left: 45px;
 }
 .footer-container{
  width: 100%;
  height: 120px;
  margin: 20px auto;
  gap: 20px 20px;
}
.banner img{
  margin-top: 20px;
}
.middle-line-geo{
  margin-left: 870px;
}
}

@media screen and (max-width:1170px){
    .geography{
     margin-top: 60px;
    }
    .topics-list{
      width: 60%;
      gap: 35px 35px;
      margin-left: 200px;
    }
    .container{
      height: 1000px;
    }
 }

 @media screen and (max-width:1140px){
  .middle-line-geo{
    margin-left: 780px;
  }
}

@media screen and (max-width:1115px){
.footer-container{
  display: flex;
  gap: 10px 10px;
}
.footer-logo{
  width: 190px;
}
.phone , .clock , .poisk{
  margin-right: 10px;
}
.poisk img , .clock img ,.phone img {
  margin-right: 5px;
 }
}

@media screen and (max-width:1080px){
  .navigation ul li a{
    font-size: 18px;
  }
  .banner{
    padding-bottom: 50px;
  }
  .country{
  width: 90%;
  height: 200px;
  gap: 8px 8px;
  margin-left: 45px;
 }
 .item{
  width: 245px;
  height: 240px;
 }
.item-description p{
  font-size: 14px;
}
.list-item img{
  width: 50px;
  height: 50px;
  margin: 10px 0px 10px 70px;
}
.middle-line-geo{
  margin-left: 720px;
}
}

@media screen and (max-width:1025px){
  .banner img{
    margin-top: 30px;
  }
}

@media screen and (max-width:1000px){
.topics-list{
    margin-left: 130px;
  }
.container h2{
    margin-right: 180px;
}
.middle-line-two{
  margin-left: 470px;
}
.middle-line-geo{
  margin-left: 600px;
}
.banner{
  padding-bottom: 90px;
}
.navigation ul li a{
  padding: 0px 80px 0px 0px;
}
.footer-social ul li a{
  padding: 24px;
}
.footer-social {
  margin-left: 15px;
}
.footer-container{
  height: 150px;
  margin: 15px auto;
}
.footer-logo img{
  margin-left: 10px;
}
.poisk img , .clock img ,.phone img {
  margin-right: 10px;
  margin-left: 10px;
 }
 footer{
  font-size: 15px;
}
.time{
 width: 90px; 
}
}

@media screen and (max-width:940px){
  .list{
    gap: 0px 0px;
    margin-top: 5px;
  }
  .container_two{
    height: 390px;
  }
  .topics-list{
    margin-left: 100px;
  }
  .geography {
    margin-top: 95px;
  }

}

@media screen and (max-width:918px){
  .navigation ul li a{
      font-size: 16px;
    }
  .banner_info h1{
    font-size: 30px;
  }
  .banner_info_defenition {
    font-size: 16px;
  }
  .middle-line{
    width: 60px;
  }
  .geography h2 , .container h2 , .container_two h2{
    font-size: 20px;
  }
}

@media screen and (max-width:905px){
  .footer-social ul li a{
    padding: 10px;
  }
  .phone , .clock , .poisk{
    font-size: 12px;
}
}

@media screen and (max-width:900px){
  .country{
    flex-wrap: wrap;
    gap: 95px 200px;
    height: 600px;
  }
}

@media screen and (max-width:870px){
  .navigation ul li a{
    padding: 0px 60px 0px 0px;
  }
  .middle-line-geo{
    margin-left: 550px;
  }
  .banner img{
    margin-top: 40px;
  }
  .banner_info h1{
    margin-top:10px ;
  }
  .middle-line{
    width: 50px;
  }
  .topics-list{
    flex-wrap: wrap;
    width: 55%;
    gap: 10px 10px;
  }
  .container{
    margin-top: 35px;
    height: 890px;
  }
}

@media screen and (max-width:815px){
  .topics-list{
    margin-left: 55px;
  }
  
  
}















@media screen and (max-width:360px){
  .navigation{
    display: none;     
     }
  .language , .mail{
    font-size: 14px;
  }
  .header_second{
  height: 50px;
  }
  .header_second img{
    margin-left: 15px;
  }
  .banner img {
    margin-top: 45px;
  }
  .banner_info{
    position: absolute;
    width: 300px;
    left: 30px;
    top: 80px;
  }
.banner_info h1{
    margin-top: 105px;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 15px;
  }
.middle-line{
  height: 1px;
  min-width: 30px;
  margin: 0px 1px;
  background: #327dff;
}
.banner_info_defenition ul li{ 
  font-size: 12px;
  line-height: 20px;
}
.geography h2{
  font-size: 18px;
  margin: 3px;
  margin-top: 100px;
  text-align: start;
  margin-left: 30px;
 
}
.middle-line-geo{
    height: 1px;
    min-width: 100px;
    background: #327dff;
    margin-left: 30px;
  }
.country{
  overflow: auto;
  flex-wrap: wrap;
}
.container h2{
  font-size: 18px;
  text-align: start;
  margin-left: 30px;
}
.middle-line-two{
  display: block;
  height: 1px;
  min-width: 100px;
  background: #327dff;
  margin-left: 70px;
  margin-bottom: 10px;
}
.topics-list{
  display: block;
  margin-left: 40px;
  width: 300px;
}
.middle-line-topic{
  display: none;
}
.topic_description p{
  font-size: 15px;
  padding: 10px;
}

.container_two{
  width: 100%;
  height: 1000px;
  margin-top: 1280px;
  background: #5bb5f1;
}
.container_two h2{
  font-size: 18px;
  text-align: center;
}
.list{
  display: block;
}
.item{
  margin-left: 35px;
}
.footer-container{
height: 400px;
display: block;
}
.footer-logo{
  margin-left: 70px;
}
.phone , .clock , .poisk{
  margin: 15px;
}
.footer-social ul li a{
  margin-left: 40px;
}
}






